.cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    margin: 30px auto;
    max-width: 1000px;
    justify-items: center;
    
}
.pizzaCards{
   max-width: 300px;
   width: 100%;
}

.pizzaCards img {
    width: 100%;
    height: auto;
}


.price{
  text-align: center !important;
}